### Map Function in Python

In [2]:
def square(x):
    return x**2

square(4)

16

In [3]:
numbers = [1,2,3,4,5,6,7,8]

In [6]:
list(map(square, numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [7]:
# Lambda with map

list(map(lambda x: x**2, numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [8]:
# Map multiple iterables

numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]

In [10]:
added_numbers = list(map(lambda x, y: x+y, numbers1, numbers2))
print(added_numbers)

[5, 7, 9]

In [11]:
# map to convert string to integers

str_numbers = ['1', '2', '3', '4', '5']
int_numbers = list(map(int, str_numbers))

int_numbers

[1, 2, 3, 4, 5]

In [12]:
words = ['apple', 'banana', 'cherry']

In [13]:
upper_words = list(map(str.upper, words))
print(upper_words)

['APPLE', 'BANANA', 'CHERRY']

In [14]:
def get_name(person):
    return person['name']

In [15]:
people = [
    {'name': 'Krish', 'age': 32},
    {'name': 'Gaurav', 'age': 34}
]

In [16]:
list(map(get_name, people))

['Krish', 'Gaurav']

### Filter Function in Python

In [17]:
def even(num):
    if num % 2 == 0:
        return True
    
even(24)

True

In [18]:
numbers = [1,2,3,4,5,6,7,8]

In [19]:
list(filter(even, numbers))

[2, 4, 6, 8]

In [21]:
# Filter with Lambda function

greater_than_5 = list(filter(lambda x: x>5, numbers))
greater_than_5

[6, 7, 8]

In [22]:
# Filter with multiple conditions

even_and_greater_than_5 = list(filter(lambda x: x>5 and x%2==0, numbers))
even_and_greater_than_5

[6, 8]

In [23]:
people = [
    {'name': 'Krish', 'age': 32},
    {'name': 'Gaurav', 'age': 34},
    {'name': 'Kumar', 'age': 22}
]

In [24]:
def age_greater_than_25(person):
    return person['age'] > 25

In [25]:
list(filter(age_greater_than_25, people))

[{'name': 'Krish', 'age': 32}, {'name': 'Gaurav', 'age': 34}]

In [28]:
list(filter(lambda x: x['age'] > 25, people))

[{'name': 'Krish', 'age': 32}, {'name': 'Gaurav', 'age': 34}]

In [29]:
result = list(filter(lambda x: x['age'] > 25, people))

names =[x['name'] for x in result]
print(names)

['Krish', 'Gaurav']